.active button{
    background: #9EEB62;
}

body{
    background: #303030;
  }
  
  #pricing-table {
      margin: 100px auto;
      text-align: center;
      /* width: 892px; total computed width = 222 x 3 + 226 */
      display: flex;
      /* flex-direction: column; */
      flex-wrap: wrap;
  }
  
  #pricing-table .plan {
      font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
      text-shadow: 0 1px rgba(255,255,255,.8);        
      background: #fff;      
      border: 1px solid #ddd;
      color: #333;
      padding: 20px;
      width: 180px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */      
      float: left;
      position: relative;
      margin: 15px;
  }
  
  #pricing-table #most-popular {
      z-index: 2;
      top: -13px;
      border-width: 3px;
      padding: 30px 20px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      -moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
      -webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
      box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);    
  }
  
  #pricing-table .plan:nth-child(1) {
      -moz-border-radius: 5px 0 0 5px;
      -webkit-border-radius: 5px 0 0 5px;
      border-radius: 5px 0 0 5px;        
  }
  
  #pricing-table .plan:nth-child(4) {
      -moz-border-radius: 0 5px 5px 0;
      -webkit-border-radius: 0 5px 5px 0;
      border-radius: 0 5px 5px 0;        
  }
  
  /* --------------- */	
  
  #pricing-table h3 {
      font-size: 20px;
      font-weight: normal;
      padding: 20px;
      margin: -20px -20px 50px -20px;
      background-color: #eee;
      background-image: -moz-linear-gradient(#fff,#eee);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
      background-image: -webkit-linear-gradient(#fff, #eee);
      background-image: -o-linear-gradient(#fff, #eee);
      background-image: -ms-linear-gradient(#fff, #eee);
      background-image: linear-gradient(#fff, #eee);
  }
  
  #pricing-table #most-popular h3 {
      background-color: #ddd;
      background-image: -moz-linear-gradient(#eee,#ddd);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));    
      background-image: -webkit-linear-gradient(#eee, #ddd);
      background-image: -o-linear-gradient(#eee, #ddd);
      background-image: -ms-linear-gradient(#eee, #ddd);
      background-image: linear-gradient(#eee, #ddd);
      margin-top: -30px;
      padding-top: 30px;
      -moz-border-radius: 5px 5px 0 0;
      -webkit-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0; 		
  }
  
  #pricing-table .plan:nth-child(1) h3 {
      -moz-border-radius: 5px 0 0 0;
      -webkit-border-radius: 5px 0 0 0;
      border-radius: 5px 0 0 0;       
  }
  
  #pricing-table .plan:nth-child(4) h3 {
      -moz-border-radius: 0 5px 0 0;
      -webkit-border-radius: 0 5px 0 0;
      border-radius: 0 5px 0 0;       
  }	
  
  #pricing-table h3 span {
      display: block;
      font: bold 25px/100px Georgia, Serif;
      color: #777;
      background: #fff;
      border: 5px solid #fff;
      height: 100px;
      width: 100px;
      margin: 10px auto -65px;
      -moz-border-radius: 100px;
      -webkit-border-radius: 100px;
      border-radius: 100px;
      -moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
      -webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
      box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
  }
  
  /* --------------- */
  
  #pricing-table ul {
      margin: 20px 0 0 0;
      padding: 0;
      list-style: none;
  }
  
  #pricing-table li {
      border-top: 1px solid #ddd;
      padding: 10px 0;
  }
  
  /* --------------- */
      
  #pricing-table .signup {
      position: relative;
      padding: 8px 20px;
      margin: 20px 0 0 0;  
      color: #fff;
      font: bold 14px Arial, Helvetica;
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;       
      background-color: #72ce3f;
      background-image: -moz-linear-gradient(#72ce3f, #62bc30);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#72ce3f), to(#62bc30));    
      background-image: -webkit-linear-gradient(#72ce3f, #62bc30);
      background-image: -o-linear-gradient(#72ce3f, #62bc30);
      background-image: -ms-linear-gradient(#72ce3f, #62bc30);
      background-image: linear-gradient(#72ce3f, #62bc30);
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;     
      text-shadow: 0 1px 0 rgba(0,0,0,.3);        
      -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
      box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
  }
  
  #pricing-table .signup:hover {
      background-color: #62bc30;
      background-image: -moz-linear-gradient(#62bc30, #72ce3f);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#62bc30), to(#72ce3f));      
      background-image: -webkit-linear-gradient(#62bc30, #72ce3f);
      background-image: -o-linear-gradient(#62bc30, #72ce3f);
      background-image: -ms-linear-gradient(#62bc30, #72ce3f);
      background-image: linear-gradient(#62bc30, #72ce3f); 
  }
  
  #pricing-table .signup:active, #pricing-table .signup:focus {
      background: #62bc30;       
      top: 2px;
      -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
      -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
      box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset; 
  }
  
  /* --------------- */
  
  .clear:before, .clear:after {
    content:"";
    display:table
  }
  
  .clear:after {
    clear:both
  }
  
  .clear {
    zoom:1
  }

 

  
/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);

* {margin: 0; padding: 0;}

html, body {min-height: 100%;}

body {
	text-align: center;
	padding-top: 100px;
	background: #689976;
	background: linear-gradient(#689976, #ACDACC);
	font-family: 'Merriweather Sans', arial, verdana;
}

.breadcrumb {
	/*centering*/
	display: inline-block;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
	overflow: hidden;
	border-radius: 5px;
	/*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
	counter-reset: flag; 
}

.breadcrumb button {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 36px;
	color: white;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 10px 0 60px;
	background: #666;
	background: linear-gradient(#666, #333);
	position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb button:first-child {
	padding-left: 46px;
	border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumb button:first-child:before {
	left: 14px;
}
.breadcrumb button:last-child {
	border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
	padding-right: 20px;
}

/*hover/active styles*/
.breadcrumb button.active, .breadcrumb button:hover{
	background: #333;
	background: linear-gradient(#333, #000);
}
.breadcrumb button.active:after, .breadcrumb button:hover:after {
	background: #333;
	background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb button:after {
	content: '';
	position: absolute;
	top: 0; 
	right: -18px; /*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 36px; 
	height: 36px;
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	z-index: 1;
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	background: #666;
	background: linear-gradient(135deg, #666, #333);
	/*stylish arrow design using box shadow*/
	box-shadow: 
		2px -2px 0 2px rgba(0, 0, 0, 0.4), 
		3px -3px 0 2px rgba(255, 255, 255, 0.1);
	/*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb button:last-child:after {
	content: none;
}
/*we will use the :before element to show numbers*/
.breadcrumb button:before {
	content: counter(flag);
	counter-increment: flag;
	/*some styles now*/
	border-radius: 100%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 8px 0;
	position: absolute;
	top: 0;
	left: 30px;
	background: #444;
	background: linear-gradient(#444, #222);
	font-weight: bold;
}


.flat button, .flat button:after {
	background: white;
	color: black;
	transition: all 0.5s;
}
.flat button:before {
	background: white;
	box-shadow: 0 0 0 1px #ccc;
}
.flat button:hover, .flat button.active, 
.flat button:hover:after, .flat button.active:after{
	background: #9EEB62;
}

button:disabled {
    background: #9EEB62;
    cursor: not-allowed;
}







body{
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif;
    letter-spacing: 1px;
  }
  header, nav{
    width: 100%;
    text-align: center;
    color: #fff;
  }
  header{
    padding: 50px 0;
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 2px;
    background: #30252E;
  }
  nav{
    z-index: 1;
    padding: 25px 0;
    word-spacing: 26px;
    background: #D6503E;
    
    transition: box-shadow 400ms;
  }
  article{
    width: 600px;
    margin: 82px auto; /* nav height + 10 */
    padding: 0;
    text-align: justify;
  }
  .sticky{
    position: fixed;
    top: 0; left: 0;
    z-index: 2;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }



