<header>
    <div class="title">My Times</div>
    <div class="date">Wednesday, April 18, 2018</div>
</header>


<nav>
  <div class="breadcrumb">
      <ul class="nav navbar-nav">
          <li routerLinkActive='active'><a routerLink = '/home' >Home</a></li>
          <li routerLinkActive='active'><a routerLink = '/cnbc' >CNBC</a></li>
          <li routerLinkActive='active'><a routerLink = '/cnet' >CNET</a></li>
          <li routerLinkActive='active'><a routerLink = '/MyFox8' >MyFox8</a></li>
      </ul>
  </div>
</nav>
