<!-- <div class="title">{{companyName}}</div>
<div class="card-footer" (click)="goBack()">
  <- Back
</div>

<div class="columns">
	<div>
		<h1>{{data.title}}</h1>
		<p>{{data.body}}</p>
		<p>{{data.title}}.</p>
		<img src="https://static.codepen.io/assets/marketing/challenges/amd-pacman-jpg-603c12d2572aceb1bfbf7cb8e426160dfb4cce641bc01bfe7a42a7829fcbca41.jpg">
	</div>
</div>
<div class="card-footer" (click)="goBack()">
  <- Back
</div> -->


<h1>{{data.source.name}}</h1>
<hr>
<h2><em><u>{{data.title}}</u></em></h2>
<section>
  <p>{{data.description}}
	<p>{{data.description}}
	<p>{{data.description}}
	<p>{{data.description}}
	
</section>

<div class="card-footer" (click)="goBack()" style="width: 10%;">
  <- Back
</div>