
.container {
  display:flex;
  flex-flow :row wrap;
  justify-content: space-around;
  align-items: stretch;
}


.card {
  flex: 0 1 48%;
  display: flex;
}

.card-inner {
  display:flex;
  flex-direction:column;
}



* {
  box-sizing:border-box;
}
html,body {
  height: 100%;
}
body {
  background: #999;  
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 0;
}

.card {
  background: #fff;
  box-shadow:0 0 10px rgba(0,0,0,.5);
  padding: 20px;
  margin-bottom: 2%;
}

.card-header {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size:24px;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: bold;
}

.card-footer {
  background: navy;
  color:white;
  border-radius:4px;
  padding: 10px;
  cursor: pointer;
}